.nosotros{
    width: 70%;
    justify-content: center;
    img{
        width: 50%;
        margin: 5%;
    }
    border: 2px solid black;
    margin: 0 auto;

    h2{
        text-align: center;
    }
}